
$header-color: red;
$simple-text-color: #444;

$black-color: #000000;
$dark-color: #494640;
$bg-color: #eeeeeb;

$tab-active-color: #5C341A;

$border-color: #e6e6e6;
$border-color2: #A9A9A9;

$header-on-bg-clr: $dark-color;
$header-clr: #494640;
$header-font: "Forum", cursive;

$text-bg-primary: #5f5a51;
$text-primary: #5f5a51;
$text-font: "Tenor Sans", sans-serif;

$button-outline-white-text: #ffffff;
$button-outline-white-border: #ffffff;
$button-outline-dark-text: $dark-color;
$button-outline-dark-border: $dark-color;

$logo-dark-color: #000000;
$logo-white-color: #ffffff;

$social-net: $dark-color;

$link-download-color: #000000;

$product-price-color: #000000;
$product-header-color: #a2a2a2;

$product-info-color: #5c341a;
$product-info-secondary: #5c341a;

$breakpoint-tablet: 767px;
$breakpoint-desktop: 768px;
$breakpoint-desktop992: 992px;
$breakpoint-desktop1200: 1200px;

$breakpoint-shift1200: 50px;
$breakpoint-shift992: 42.69px;
$breakpoint-shift768: 33px;
$breakpoint-shift375: 20px;

$transparent-bg: rgba(255, 255, 255, 0.24);

